* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #fff;
    color: #333;
}

/* BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background: linear-gradient(135deg, #ffe6ee, #ffd1e3);
}

.banner-logo img {
    height: 100px;
}

.banner-texto {
    text-align: right;
}

.banner-texto h1 {
    font-size: 36px;
    margin-bottom: 5px;
    color: #b0005b;
}

.banner-texto p {
    color: #8b0050;
    font-size: 14px;
}


/* LAYOUT */
.layout {
    display: flex;
    max-width: 1100px;
    margin: auto;
}

/* MENU */
.menu-lateral {
    width: 220px;
    background: #fafafa;
    padding: 20px;
    border-right: 1px solid #eee;
}

.menu-lateral a {
    display: block;
    background: white;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: #b0005b;
    font-weight: 600;
    transition: 0.3s;
}

.menu-lateral a:hover {
    background: #b0005b;
    color: white;
}

/* CONTEÚDO */
.conteudo {
    flex: 1;
    padding: 25px;
}

.apresentacao {
    display: flex;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
}

.apresentacao img {
    width: 260px;
    border-radius: 14px;
}

.apresentacao p {
    margin-bottom: 10px;
}

/* AGENDAMENTO */
.agendamento h2 {
    margin: 20px 0;
    color: #b0005b;
}

/* FORMULÁRIO */
form {
    background: white;
    padding: 20px;
    max-width: 400px;
    border-radius: 14px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

label {
    font-weight: 600;
}

input, textarea {
    width: 100%;
    margin: 6px 0 12px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    background: linear-gradient(120deg,#b0005b,#ff5599);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: hsl(330, 60%, 79%);
}

footer img {
    width: 18px;
    vertical-align: middle;
}

/* WHATSAPP */
.whatsapp-fixo {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 58px;
}

.whatsapp-fixo img {
    width: 100%;
}

/* MOBILE */
@media (max-width: 768px) {

    .banner {
        flex-direction: column;
    }

    .banner-dir {
        margin-left: 0;
        text-align: center;
    }

    .layout {
        flex-direction: column;
    }

    .menu-lateral  {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .apresentacao {
        text-align: center;
        justify-content: center;
    }

}
